@import "../../../styles/_vars.scss";
.container {
    border-radius: $borderRadius;
    border: 1px solid $C1F;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--mobile {
        display: block;
        border: none;
        padding: 0;
        .amount {
            margin: 10px 0;
        }
    }
}
.price {
    font-size: 26px;
}
