@import "../../../styles/_vars.scss";
@import "../../../styles/_mixins.scss";
.container {
    position: fixed;
    background-color: $C1J;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    left: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: 0px -5px 31px 0px rgba(195, 195, 195, 0.2);
}
.item {
    font-size: 13px;
    color: $C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    @include fontMedium;
    &--cart {
        svg {
            width: 20px;
            height: 20px;
            path {
                stroke: $C1C;
                stroke-width: 2px;
            }
        }
    }
    &--cart.item--active {
        svg {
            path {
                stroke: $C2C;
            }
        }
    }
    &--active {
        color: $C2C;
        .icon--stroke {
            path {
                stroke: $C2C;
            }
        }
        .icon {
            path {
                fill: $C2C;
            }
        }
    }
}
.icon {
    path {
        fill: $C1C;
    }
    &--stroke {
        path {
            stroke: $C1C;
            stroke-width: 2px;
        }
    }
}
@media (max-width: 320px) {
    .container {
        padding: 15px 20px;
    }
    .item__text {
        display: none;
    }
}
