// ==================================== colors ====================================
// ==================================== C1 ====================================
$C1A: #151515;
$C1B: #575757;
$C1C: #a9a9a9;
$C1D: #d1d1d1;
$C1E: #ebebeb;
$C1F: #f5f5f5;
$C1H: #f9f9f9;
$C1J: #fff;
// ==================================== C2 ====================================
$C2A: #6a983c;
$C2B: #46760a;
$C2C: #92c064;
$C2D: #c8deb3;
$C2E: #f4f8ec;
// ==================================== C3 ====================================
$C3A: #d0a866;
$C3B: #b28a48;
$C3C: #ecd2a6;
$C3D: #faedd8;
$C3E: #fff9f0;
// ==================================== C4 ====================================
$C4A: #e5704b;
$C4B: #c7522d;
$C4C: #eb8d70;
$C4D: #f7c6b7;
$C4E: #fff1ed;
// ==================================== C5 ====================================
$C5A: #37d0d6;
$C5B: #19b2b8;
$C5C: #7cd0d3;
$C5D: #b9e6e8;
$C5E: #ecf6f6;
// ==================================== C5 ====================================
$mainWhite: #fff;
$main: #263238;
$accentError: #e74c3c;
$primary: #0e4da4;
$secondary: #1bb55c;
$tretiary: #ffbb12;
$gray: rgb(240, 240, 240);
$darkGray: rgb(196, 196, 196);
$gradient: linear-gradient(90deg, #d500f9 0%, #ff1744 100%);
// ==================================== trasntion ====================================
$inputTranstion: all 0.2s ease;
$linkTranstion: all 0.3s ease;
$buttonTranstion: all 0.4s ease;
$dropDownTranstion: all 0.5s ease;
// ==================================== container ====================================
$containerWidth: 1190px;
$padding: 10px;
$borderRadius: 12px;
$sectionPaddings: 64px;
$sectionMediumPadding: 30px;
$sectionSmallPadding: 15px;
$cardMaxWidthV1: 268px;
$breakpointMedium: 982px;
$breakpointSmall: 500px;
