@import "../../../styles/_vars.scss";
@import "../../../styles/_mixins.scss";
.container {
    padding: 16px 0;
    background-color: $C1H;
}
.wrapper {
    position: relative;
    display: flex;
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 $padding;
}
.item {
    width: initial;
}
.slider {
    display: flex;
    margin: 0;
}
