@import "../../../styles/_vars.scss";
.container {
    overflow: hidden;
}
.opener {
    width: inherit;
    display: block;
    border: none;
    padding: 0;
    width: 100%;
}
.content {
    transition: $dropDownTranstion;
    display: flex;
    flex-direction: column;
}
