@import "../../../styles/_mixins.scss";
.section {
    padding: $sectionPaddings 0;
}
.container {
    @include container;
    margin-bottom: 32px;
}
@media (max-width: $breakpointMedium) {
    .section {
        padding: $sectionMediumPadding 0;
    }
}
@media (max-width: $breakpointSmall) {
    .section {
        padding: $sectionSmallPadding 0;
    }
}
